{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec
]}.

{deps, [
    {h1,   {git, "https://github.com/benoitc/erlang_h1.git",  {branch, "main"}}},
    {h2,   {git, "https://github.com/benoitc/erlang_h2.git",  {branch, "main"}}},
    {quic, {git, "https://github.com/benoitc/erlang_quic.git", {branch, "main"}}},
    {ws,   {git, "https://github.com/benoitc/erlang_ws.git",  {branch, "main"}}}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all, nowarn_missing_spec]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
