{erl_opts, [debug_info]}.

{deps, [
    {livery, {path, ".."}}
]}.

{relx, [
    {release, {docker_test, "0.1.0"}, [
        docker_test,
        livery
    ]},
    {mode, prod},
    {extended_start_script, true},
    {sys_config, false},
    {vm_args, false}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
