{erl_opts, [debug_info]}.

{deps, [
    {livery, {git, "https://github.com/benoitc/livery.git", {branch, "main"}}}
]}.

{relx, [
    {release, {ws_example, "0.1.0"}, [ws_example, sasl]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
